$background-color: #f8f5f0;
$border-color: #dfd7ca;

body {
  margin: 30px 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;
  margin-bottom: 0;
  text-align: center;

  p.lead {
    margin: 30px 0;
  }

  img {
    margin: 0 auto;
  }

  .btn {
    padding: 14px 24px;
    font-size: 21px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 21px 0 48px;

  .page-header {
    border: 0;
  }
}

.docs {
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;

  .container {
    margin-bottom: 58px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

.highlight {
  margin: 48px 0 0;

  &.one-liner {
    float: left;
    left: 50%;
    margin: 0;
    position: relative;

    pre {
      float: left;
      left: -50%;
      position: relative;
    }
  }

  code {
    text-align: left;
  }
}
