$background-color: #f8f5f0;
$border-color: #dfd7ca;
$white: #fff;

body {
  background-color: $background-color;

  @media screen and (min-width: 768px) {
    padding-top: 87px;
  }
}

.header {
  background-color: $white;
  top: 0;
  width: 100%;
  z-index: 1;

  @media screen and (min-width: 768px) {
    position: absolute;
  }

  nav {
    border-bottom: 1px solid $border-color;
    transition: .1s padding-bottom ease-in-out;
    width: 100%;

    &.affix {
      position: static;
    }

    /* Space out the masthead */
    @media screen and (min-width: 768px) {
      padding: 21px 0;

      &.affix {
        background-color: $white;
        padding: 8px 0;
        position: fixed;
        width: 100%;
      }
    }
  }
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  border-bottom: 1px solid $border-color;
  margin-bottom: 0;
  padding: 38px 0;
  text-align: center;

  p.lead {
    margin: 30px 0;
  }

  img {
    margin: 0 auto;
  }

  .btn {
    font-size: 21px;
    margin: 28px 0 0;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  background-color: $white;
  padding: 38px 0;

  .page-header {
    border: 0;
  }
}

.docs {
  background-color: $background-color;
  border-bottom: 1px solid $border-color;
  border-top: 1px solid $border-color;

  .container {
    margin-bottom: 58px;
  }
}

/* Custom page footer */
.footer {
  background-color: $white;
  padding: 19px 0;
  color: #777;
}

.highlight {
  &.one-liner {
    float: left;
    left: 50%;
    position: relative;

    pre {
      float: left;
      left: -50%;
      position: relative;
    }
  }

  code {
    text-align: left;
  }
}
